button {
    &.default {
        border-style: none;
        outline: none;
        width: 100px;
        height: 40px;
        line-height: 24px;
        margin: 8px 15px 0;
        border-radius: 20px;
        font-size: 15px;
        color: #fff;
        background-color: #ea6f5a;
    }
    &:hover {
        cursor:pointer;
    }
}

.box() {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -moz-box-pack: center;
    -moz-box-align: center;
    box-pack: center;
    box-align: center;
  }